*.exe
*.pyc
__pycache__/
build/
dist/
installer/*.exe
installer/*.iss
gh_*.py
check_*.py
click_*.py
upload_*.py
capture_network.py
file_page.py
get_*.py
api_*.py
check_*.py
api_get_link.py
api_upload.py

